

body{
	background: #686de0;
}

.signup-form{
	width: 45%;
	margin: 100px auto;
}
.signup-form h3{
	text-align: center;
	font-size: 50px;
}
.form-group{
	padding-bottom: 20px;
}
.error{
	color: red;
}
.thank h2{
	font-size: 120px;
	text-align: center;
}
h2{
	text-align: center;
	font-size: 150px;
	padding-top: 100px;
}